[submodule "upstream"]
	path = upstream
	url = https://github.com/libertine-linux-clones/perl-PkgConfig.git
	branch = master
	libertine-linux-upstream = https://github.com/PerlPkgConfig/perl-PkgConfig.git
